@model IEnumerable<GestaoFinanceira.Models.Lancamento>

@{
    ViewData["Title"] = "Ano";
}

<h1>2021</h1>

<hr />

@*<form>*@
@using (Html.BeginForm("Ano", "Lancamento", FormMethod.Get))
{
    <div class="form-group">
        @*<label>Ano</label>*@
@*        <input id="inpIdData" type="text" name="ano" value="" />
        <input type="submit"/>*@

        <select class="form-control" id="ano" name="ano">
            <option disabled selected>Ano</option>
            <option>2020</option>
            <option>2021</option>
            <option>2022</option>
@*            @foreach (var lancamento in @Model)
            {
                <option>@lancamento.DtPrevisao.Year</option>
            }*@
        </select>
        <input type="submit"/>
    </div>
}
@*</form>*@

<p>
    <a asp-action="Create">Inserir Registro</a>
</p>

<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tipos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grupos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ObsLancamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtPrevisao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtBaixa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipos.DescTipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grupos.DescGrupo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contas.DescConta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObsLancamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtPrevisao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtBaixa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inativo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
