@model GestaoFinanceira.Models.Lancamento

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Lançamento</h1>

<div>
    <h4>Detalhes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipos.DescTipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grupos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grupos.DescGrupo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contas.DescConta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObsLancamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObsLancamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtPrevisao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtPrevisao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtBaixa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtBaixa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inativo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inativo)
        </dd>
    </dl>
</div>
<div>
    <div class="navNovo">
        <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
    </div>
    <div class="navNovo">
        <a asp-action="Index">Voltar</a>
    </div>
</div>
