@model IEnumerable<GestaoFinanceira.Models.Lancamento>

@{
    ViewData["Title"] = "Index";
}

<h1 id="anoH1">Lançamentos @ViewBag.Ano</h1>


@*<form>*@
@using (Html.BeginForm("Index", "Lancamento", FormMethod.Get))
{
    <div class="containerForm">
        <div class="input-group mb-3">
            @*<label>Ano</label>*@
            <select class="form-control" id="ano" name="ano" onchange="funcaoAno(this.value)">
                <option disabled selected>Ano</option>
                <option>2020</option>
                <option>2021</option>
                <option>2022</option>
                @*@foreach (var lancamento in @Model)
                {
                    <option>@lancamento.DtPrevisao.Year</option>
                }*@
            </select>
            <input class="btn btn-outline-secondary" type="submit"/>
        </div>

    </div>
}
@*</form>*@

<hr />

<nav class="navNovo">
    <ul>
        <li><a asp-action="Create">Novo</a></li>
        <li><a asp-action="Resumo">Resumo</a></li>
    </ul>
</nav>
@*<p>
    <a asp-action="Create">Novo</a>
</p>

<p>
    <a asp-action="Resumo">Resumo</a>
</p>*@


<table class="table table-striped table-hover">
    <thead>
        <tr class="table-dark">
            <th>
                @Html.DisplayNameFor(model => model.Tipos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grupos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ObsLancamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtPrevisao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtBaixa)
            </th>
@*            <th>
                @Html.DisplayNameFor(model => model.Inativo)
            </th>*@
            <th>Admin</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipos.DescTipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grupos.DescGrupo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contas.DescConta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObsLancamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtPrevisao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtBaixa)
            </td>
@*            <td>
                @Html.DisplayFor(modelItem => item.Inativo)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" title="Editar"><img src=~/css/editar.png></a> |
                <a asp-action="Details" asp-route-id="@item.Id" title="Detalhes"><img src=~/css/detalhes.png></a> |
                <a asp-action="Delete" asp-route-id="@item.Id" title="Deletar"><img src=~/css/deletar.png></a>
            </td>
        </tr>
}
    </tbody>
</table>
