@*@model GestaoFinanceira.Models.Lancamento*@
@model IEnumerable<GestaoFinanceira.Models.Lancamento>

@{
    ViewData["Title"] = "Index";
}

<h1>Resumo - @ViewBag.Ano</h1>


@*<form>*@
@using (Html.BeginForm("Resumo", "Lancamento", FormMethod.Get))
{
    <div  class="containerForm">
        <div  class="input-group mb-3">
            @*<label>Ano</label>*@
            <select class="form-control" id="ano" name="ano" onchange="funcaoAno(this.value)">
                <option disabled selected>Informe o ano</option>
                <option>2020</option>
                <option>2021</option>
                <option>2022</option>
        @*        @foreach (var lancamento in @Model)
                {
                    <option>@lancamento.DtPrevisao.Year</option>
                }*@
            </select>
            <input class="btn btn-outline-secondary" type="submit"/>
        </div>
    </div>
}
@*</form>*@

<hr />

<p class="pResumo">Resumo</p>
<table class="table table-striped table-sm table-hover"> @*Atualizar com o loop*@
    <thead>
        <tr class="table-dark">
            <th>
                Tipo
            </th>
            <th>
                Valor
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-secondary">
            <td colspan="2">Geral</td>
        </tr>
        <tr class="tableReceita">
            <td>
                Receita
            </td>
            <td>
                @ViewBag.Receita
            </td>
        </tr>
        <tr class="tableDespesa">
            <td>
                Despesa
            </td>
            <td>
                @ViewBag.Despesa
            </td>
        </tr>
        <tr>
            <td>
                Total Geral
            </td>
            <td>
                @ViewBag.SaldoGeral
            </td>
        </tr>
        <tr><td> </td> <td> </td></tr>

        <tr class="table-secondary">
            <td colspan="2">Aberto</td>
        </tr>
        <tr class="tableReceita">
            <td>
                Receita
            </td>
            <td>
                @ViewBag.ReceitaAberto
            </td>
        </tr>
        <tr class="tableDespesa">
            <td>
                Despesa
            </td>
            <td>
                @ViewBag.DespesaAberto
            </td>
        </tr>
        <tr>
            <td>
                Total Aberto
            </td>
            <td>
                @ViewBag.SaldoAberto
            </td>
        </tr>

    </tbody>
</table>

<hr />

<p class="pResumo">Resumo por Grupo</p>
<table class="table table-striped table-sm table-hover">
    <thead>
        <tr  class="table-dark">
            <th>Grupo</th>
            <th>Saldo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Pessoal</td>
            <td>@ViewBag.GrupoPessoal</td>
        </tr>
        <tr>
            <td>Casa</td>
            <td>@ViewBag.GrupoCasa</td>
        </tr>
        <tr>
            <td>Trabalho</td>
            <td>@ViewBag.GrupoTrabalho</td>
        </tr>
        <tr>
            <td>Transporte</td>
            <td>@ViewBag.GrupoTransporte</td>
        </tr>
        <tr>
            <td>Reserva</td>
            <td>@ViewBag.GrupoReserva</td>
        </tr>
        <tr>
            <td>Cartao dia 10</td>
            <td>@ViewBag.GrupoCartaoD10</td>
        </tr>
        <tr>
            <td>Cartao dia 15</td>
            <td>@ViewBag.GrupoCartaoD10</td>
        </tr>
    </tbody>
</table>