@model IEnumerable<GestaoFutebolAmador.Models.Financeiro>


@{
}

<table class="table table-sm table-striped table-hover table-responsive-md text-center">
    <thead>
        <tr>
            <th>Tipo</th>
            <th>Valor</th>
            <th>Conta</th>
            <th>Jogador</th>
            <th>Informações</th>
            <th>Data Baixa</th>
            <th>Editar</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var financeiro in @Model)
        {
            <tr>
                <td>@financeiro.fk_conta.tipo_conta</td>
                <td>@financeiro.valor</td>
                <td>@financeiro.fk_conta.desc_conta</td>
                <td>@financeiro.fk_jogador.nome_jogador</td>
                <td>@financeiro.obs_lancamento</td>
                <td>@financeiro.dt_baixa</td>
                <td><a href="#">Editar</a></td>
                <td><a href="#">Deletar</a></td>
            </tr>
        }

    </tbody>
</table>