@model IEnumerable<GestaoFutebolAmador.Models.Scout>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form>
    <div class="form-group">
        <label for="selectAno">Ano</label>
        <select class="form-control" id="exampleFormControlSelect1">
            @*<option>2021</option>
            <option>2020</option>
            <option>2019</option>
            <option>2018</option>
            <option>2017</option>*@
            @foreach (var scout in @Model)
            {
            <option>@scout.fk_jogador.nome_jogador</option>
            }
        </select>
    </div>
</form>

<table class="table table-sm table-striped table-hover table-responsive-md text-center">
    <thead>
        <tr>
            <th>Jogador</th>
            <th>Parametro</th>
            <th>Pontos</th>
            <th>Gols</th>
            <th>Presenca</th>
            <th>Editar</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var scout in @Model)
        {
        <tr>
            <td>@scout.fk_jogador.nome_jogador</td>
            <td>@scout.fk_parametro.desc_parametro</td>
            <td>@scout.ponto</td>
            <td>@scout.gol</td>
            <td>@scout.presenca</td>
            <td><a href="#">Editar</a></td>
            <td><a href="#">Deletar</a></td>
        </tr>
        }

    </tbody>
</table>